@model IEnumerable<BelagricolaMVC.Models.Contato>

@{
    ViewData["Title"] = "Index";
}

<h2>Contatos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relacionamento)
            </th>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaTelefones)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relacionamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>

                @foreach (var tel in item.ListaTelefones)
                {
                    @Html.Raw("<a class=\"badge\" href=\"Telefones/Edit/")
                    @tel.Id
                    @Html.Raw("\">");
                    @tel.Tel
                    @Html.Raw("</a>&nbsp;")
                }
                <a class="badge" href="Telefones/Create/@item.Id">+</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><b>Editar</b></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><b>Excluir</b></a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-success" asp-action="Create">Adicionar</a>
</p>